.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.aspect-ratio-wrapper {
  display: inline-block;
  position: relative;
}

.aspect-ratio-wrapper:after {
  display: block;
  content: "";
}

.aspect-ratio-wrapper > * {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.drivers-license {
  min-width:400px;
  width: 400px;
  overflow: hidden;
  border: 1px solid black;
}

.drivers-license:after {
  padding-top: 62%;
}

.zoom-panel-controls {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  background-color: white;
}

.zoom-panel-controls img {
  display: block;
}

.zoom-panel:hover > .zoom-panel-controls {
  visibility: visible
}

.rotate90 {
  width:100%;
  height:100%;
  transform: rotate(90deg)/* translateX(186px) translateY(629px)*/;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); opacity:1 }
  25% { opacity:0.8 }
  50% { opacity:1 }
  75% { opacity:0.8 }
  to { transform: rotate(360deg); opacity:1 }
}
